<%= render 'shared/headers' %>

<h1>Dashboard#homePage</h1>
<p>Find me in app/views/dashboard/homePage.html.erb</p>

<%# here i use partail for same code list and changing style through one file in the shared folder instead of all %>
<%= render 'shared/links' %> 


